# LOOPS

# for loop

In [2]:
num=(1,2,3,4,5,6,7,8,9,10)

In [10]:
name="sharif","julfar","sabari","arun","gp muthu"

In [5]:
for i in num:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
for i in name:
    print(i)

sharif
julfar
sabari
arun
gp muthu

In [21]:
for i in num:
    if i%2 == 0:
        print(f"{i}     is even")
    else:
        print(f"{i}  is odd")

1  is odd
2     is even
3  is odd
4     is even
5  is odd
6     is even
7  is odd
8     is even
9  is odd
10     is even

In [26]:
for _ in 'python':
    print("hello world!")

hello world!
hello world!
hello world!
hello world!
hello world!
hello world!

In [28]:
for _ in 'king sharif':
    print("hello world!")

hello world!
hello world!
hello world!
hello world!
hello world!
hello world!
hello world!
hello world!
hello world!
hello world!
hello world!

# while loop

In [31]:
n=input("enter a number :")
val=0
i=0
while i<= int(n):
 val += i
 i += 1

print(f"the sum is{val}")

enter a number :5
the sum is15

In [36]:
n=input("enter a number : ")
val=0
i=0
while i<= int(n):
 val += i
 i += 1

 print(f"the sum is {val} ")

enter a number : 10
the sum is 0
the sum is 1
the sum is 3
the sum is 6
the sum is 10
the sum is 15
the sum is 21
the sum is 28
the sum is 36
the sum is 45
the sum is 55

In [39]:
counter = 0

while counter < 5:
    print("inside loop")
    counter = counter +1
else :
    print("Get out of loop")

inside loop
inside loop
inside loop
inside loop
inside loop
Get out of loop